<div id="graph" class="text-center container-fluid">

  <form #dateChartForm="ngForm" (ngSubmit)="getChartData(dateChartForm.value)">
    <fieldset>
      <label for="startDate">Start Date</label>
      <input type="date" name="startDate" ngModel/>
      <span></span>
      <label for="endDate">End Date</label>
      <input type="date" name="endDate"  ngModel/>
      <button type="submit" class="btn btn-dark" [disabled]="!dateChartForm.form.valid">Submit</button>
    </fieldset>
  </form>

  <div class="text-center" *ngIf="date1">
    <h4 class="muted">{{date1}} - {{date2}}</h4>
  </div>

  <div>
    <div class="row" >
      <div class="col-md-6" >
        <div class="card" >
          <canvas id="canvas4"class="chart" >{{chartLight}}</canvas>
          <h3>Lighting</h3>
          <div class="feedbackText"*ngFor="let feedback of lightingFeedback">
            <p>{{feedback}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card" >
          <canvas id="canvas" class="card-top chart">{{chartOcc}}</canvas>
          <div class="card-body">
            <h3 class="card-title">Occupancy</h3>
            <div class="feedbackText" *ngFor="let feedback of occupancyFeedback">
              <p>{{feedback}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-md-6">
        <div class="card" >
          <canvas id="canvas2" class="card-top chart">{{chartTemp}}</canvas>
          <div class="card-body">
            <h3  class="card-title">Temperature</h3>
            <div class="feedbackText"*ngFor="let feedback of tempFeedback">
              <p>{{feedback}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
         <div class="card">
          <canvas id="canvas3" class="chart">{{chartHumidity}}</canvas>
          <div class="card-body">
            <h3 class="card-title">Humidity</h3>
            <div class="feedbackText" *ngFor="let feedback of humidityFeedback">
              <p>{{feedback}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
