<div class="text-center">
  <h1 class="display-1">Welcome to Energy Saver</h1>

<div class="row " *ngIf="currentStatus">
  <div class="col-6 col-sm-3"><b>Property:</b> {{currentStatus[0]['room']}}</div>
  <div class="col-6 col-sm-3"><b>Occupancy:</b> {{currentStatus[0]['occupied']}}</div>
  <div class="col-6 col-sm-3"><b>DateTime:</b> {{currentStatus[0]['timestamp']* 1000 | date:'yy-MMM-dd h:mm '}}</div>

  <!-- Force next columns to break to new line -->
  <div class="w-150"></div>
  <h3>Inside Status</h3>

  <div class="col-6 col-sm-3"><b>Temperature:</b> {{currentStatus[0]['temp']}}&deg;C</div>
  <div class="col-6 col-sm-3"><b>Humidity:</b> {{currentStatus[0]['humidity']}}%</div>
  <div class="col-6 col-sm-3"><b>Lumos:</b> {{currentStatus[0]['light']}}</div><!--ng if for an image of a bulb or somthing-->

  <!-- Force next columns to break to new line -->
  <div class="w-150"></div>


  <div class="w-150"></div>

  <div class="col-6 col-sm-3"><b>Outside Humidity:</b> {{currentStatus[0]['outside_humidity']}}</div>
  <div class="col-6 col-sm-3"><b>UV Level:</b> {{currentStatus[0]['outside_UV']}}</div>

  <div class="col-6 col-sm-3"><b>Weather:</b> <img src='{{path}}' height="30" width="30" /></div>
  <div class="col-6 col-sm-3"><b>Outside Temperature:</b> {{currentStatus[0]['outside_temp']}}&deg;C</div>

  <div class="col-6 col-sm-3"><b>Temperature:</b> {{futureData[0]['Temperature']}}</div>
  <h3>Predictions in 1</h3>
  <div class="col-6 col-sm-3"><b>Humidity:</b> {{futureData[0]['Humidity']}}</div>
  <div class="col-6 col-sm-3"><b>Occupied:</b> {{futureData[0]['Occupancy']['in']}}</div>
  <div class="col-6 col-sm-3"><b>Empty:</b> {{futureData[0]['Occupancy']['out']}}</div>
</div>
</div>
