<div id="graph" class="text-center">
  <form #dateForm="ngForm" (ngSubmit)="getGraphData(dateForm.value)">
    <label>Start Date</label>
    <input type="date" name="startDate" value="0" ngModel/>
    <label>End Date</label>
    <input type="date" name="endDate" value="0" ngModel/>
    <select name="graphType" ngModel>
      <option value="Temperature">Temperature</option>
      <option value="Humidity">Humidity</option>
    </select>
    <button type="submit" class="btn btn-primary" [disabled]="!dateForm.form.valid">Submit</button>
  </form>
  <div>
    <button class="btn btn-primary"  value='Charts' (click)="resetZoom()">Reset Zoom/Pan</button>
  </div>
  <div >
    <canvas id="canvas">{{chart}}</canvas>
  </div>
</div>
