<table class="table table-responsive">
  <thead class="blue-grey">
  <tr>
    <th scope="col">#</th>
    <th scope="col" style="max-width:50%">Description</th><span></span>
    <th scope="col">Time</th><span></span>
    <th scope="col">remove</th>
  </tr>
  </thead>
  <tbody class="table-striped table-hover" *ngFor="let notifs of allNotifications.data.docs | paginate:{ itemsPerPage :5, currentPage: p}">
    <tr>
      <th scope="row"> </th>
      <td style="max-width:50%">{{notifs.notifications}}</td><span></span>
      <td>{{notifs.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss '}}</td><span></span>
      <td ><button class="btn btn-primary" (click)= 'deleteNotification($event)' value='{{notifs._id}},{{notifs._rev}}'>Remove(Double-Click)</button></td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p =$event" class="text-center"></pagination-controls>
