
<table class="table table-responsive" >
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Description</th>
    <span></span>
    <th scope="col">Time</th>
    <span></span>
    <th scope="col">Remove</th>
  </tr>
  </thead>
  <tbody class="table-striped table-hover" *ngFor="let notifs of allNotifications.data.docs | paginate:{ itemsPerPage :5, currentPage: p}">
    <tr>
      <th scope="row"> </th>
      <td id="descriptionNotif">{{notifs.notifications}}</td>
      <span></span>
      <td >{{notifs.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss '}}</td>
      <span></span>
      <td >
        <button class="btn btn-danger" (click)= 'deleteNotification($event)' value='{{notifs._id}},{{notifs._rev}}'>delete</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p =$event" class="text-center"></pagination-controls>
<!-- making use of the module in app.module.ts rgxpagination, it allows us to pass a list with few extra params
      and paginate them shown in *ngFor directive-->
